$color-black: #000000;
$color-white: #ffffff;
$color-gray: #f2f2f2;
$color-green: #18b64e;
$color-red: #b61818;
$color-blue: #181bb6;

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%full-width {
  width: 100%;
  height: auto;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.valid {
  color: $color-green;
}

.invalid {
  color: $color-red;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100vh;
}

body {
  background-color: $color-gray;
}
