@use "base" as *;

.main-wrapper {
  @extend %flex-center;
  flex-direction: column;
  min-height: 100vh;
  .form-wrapper {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    min-width: 35rem;
    margin: 2rem;
    form {
      flex-direction: column;
      font-size: 2rem;
      text-align: center;
      background-color: darken($color-white, 2%);
      font-family: "Gill Sans", sans-serif;
      @extend %flex-center;
      label {
        margin-top: 0.75rem;
        @extend %full-width;
        input {
          font-family: "Gill Sans", sans-serif;
          margin: 0.5rem;
          padding: 0.5rem 40px 0.5rem 0.5rem;
          font-size: 2rem;

          max-width: 75%;
          &:focus {
            outline-color: $color-secondary;
            border-color: $color-secondary;
          }
          &.invalid-data {
            border: 0.1rem solid;
            border-color: $color-red;
            outline-color: $color-red;
            &:focus {
              outline-color: $color-red;
              border-color: $color-red;
            }
          }
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type="number"] {
          -moz-appearance: textfield;
        }
        .validation-icon {
          text-align: center;
          width: 32px;
          height: auto;
        }
        span {
          position: relative;
          float: right;
          top: 8px;
          right: 90px;
          width: 0;
        }
      }
      div {
        margin: 1rem;
      }
      button {
        display: inline-block;
        padding: 12px 24px;
        border: 1px solid #4f4f4f;
        border-radius: 4px;
        transition: all 0.2s ease-in;
        position: relative;
        overflow: hidden;
        font-size: 19px;
        color: black;
        z-index: 1;
        &:before {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%) scaleY(1) scaleX(1.25);
          top: 100%;
          width: 140%;
          height: 180%;
          background-color: rgba(0, 0, 0, 0.05);
          border-radius: 50%;
          display: block;
          transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
          z-index: -1;
        }
        &:after {
          content: "";
          position: absolute;
          left: 55%;
          transform: translateX(-50%) scaleY(1) scaleX(1.45);
          top: 180%;
          width: 160%;
          height: 190%;
          background-color: $color-secondary;
          border-radius: 50%;
          display: block;
          transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
          z-index: -1;
        }
        &:hover {
          color: #ffffff;
          border: 1px solid $color-secondary;
        }
        &:hover:before {
          top: -35%;
          background-color: $color-secondary;
          transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        }
        &:hover:after {
          top: -45%;
          background-color: $color-secondary;
          transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        }
      }
    }
  }
  .submitted-data-div {
    border: 1px solid gray;
    height: 30rem;
    width: 30rem;
    font-size: 10rem;
  }
}
.error-p-invalid {
  color: $color-red;
}
