@use "base" as *;

header {
  background-color: $color-secondary;
  border-bottom: 1px solid gray;
  font-family: Tahoma, Verdana, sans-serif;
  @extend %full-width;
  @extend %flex-center;
  h1 {
    font-size: clamp(2rem, calc(2rem + ((1vw - 0.21875rem) * 4.586)), 6rem);
    margin: 1rem;
    padding: 1rem;
  }
}

main {
  flex: 1 0 auto;
  flex-direction: column;
  background-color: $color-gray;
  @extend %full-width;
  @extend %flex-center;
}

footer {
  word-break: break-word;
  background-color: $color-secondary;
  border-top: 1px solid gray;
  font-family: Tahoma, Verdana, sans-serif;
  @extend %full-width;
  @extend %flex-center;
  div {
    font-size: 1.75rem;
    margin: 0.5rem;
  }
  .github-logo {
    display: block;
    width: 32px;
    height: auto;
    margin: 0.5rem;
  }
}
